.App {
  height: 100%;
  width: 100%;
}

.Conatiner {
  height: auto;
  width: auto;
  position: absolute;
  display: block;
}

nav .brand-logo {
  position: absolute;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  white-space: nowrap;
}

.App-navbar{
  background-color: transparent;
  box-shadow: none;
}
