.App {
  text-align: center;
}

.App-header {
  /* background-color:#8f5e5e; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #070202;
}

.App-link {
  color: #61dafb;
}

.Main-Page-Icons {
  display: flex;
  flex-direction: row;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
